{% comment %}
1. Remove breadcrumbs.
2. First and last links.
{% endcomment %}

{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page=1{{ getvars }}{{ hashtag }}" class="first" rel="nofollow">&lsaquo;&lsaquo; {% trans "first" %}</a>
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev" rel="nofollow">&lsaquo; {% trans "previous" %}</a>
    {% else %}
        <span class="disabled first">&lsaquo;&lsaquo; {% trans "first" %}</span>
        <span class="disabled prev">&lsaquo; {% trans "previous" %}</span>
    {% endif %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next" rel="nofollow">{% trans "next" %} &rsaquo;</a>
        <a href="?page={{ paginator.num_pages }}{{ getvars }}{{ hashtag }}" class="last" rel="nofollow">{% trans "last" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "next" %} &rsaquo;</span>
        <span class="disabled last">{% trans "last" %} &rsaquo;&rsaquo;</span>
    {% endif %}
</div>
{% endif %}
