{% extends "base.html" %}

{% block content %}

    <div class="h2">Sign Up</div>
            
    <span>
        Sign up easily with Facebook or Twitter, or register a new account directly with us.
        xxx: issues on mobile. Looks dumb when we hide this white bar.
    </span>

    <form action="{% url join %}" method="POST" enctype="multipart/form-data" class="content-form">   
        <fieldset>
        {% csrf_token %}
        <ul class="form-ul">
        {{ form.as_ul }}
        </ul>
        <input type="submit" value="Sign Up" />
        </fieldset>
    </form>

{% endblock content %}
