<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="description" content="Jmbo" />
    <meta property="og:title" content="Jmbo" />
    <meta property="og:description" content="Jmbo is a mobile-focused content delivery platform for the delivery of dynamic experiences to audiences in emerging markets." />
    <meta property="og:image" content="{{ STATIC_URL }}basic/pics/og_jmbo_logo.png" />
    <title>Jmbo</title>
    <link href="{{ STATIC_URL }}basic/css/jmbo.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}basic/pics/favicon.ico" />
</head>

<body>
	<div id="header">
    	<img src="media/pics/logo.jpg" alt="Jmbo" width="71" height="23" />
        <div id="signin-button">
          <span><a href="signin.html">Sign In</a></span>
      	</div>
    </div>
    
    <div id="topnav">
    	<span class="active"><a href="index.html">Home</a></span>/<span><a href="news.html">News</a></span>/<span><a href="pics.html">Pics</a></span>/<span><a href="#menu-dl">More</a></span>
    </div>
    
    <!--<div class="success">This is a success message</div>
    <div class="warning">This is a warning message</div>-->
    
    <div id="content">
    	<div id="promo">
        	<img src="media/pics/promo-1.jpg" alt="Title Here" />
            <div id="promotxt"><a href="win.html">Win A Brand New Mercedes SLS AMG</a></div>
        </div>
        
        <div class="h2">Updates</div>
        
        <div class="article">
        	<div class="h3"><a href="article.html?rand=111">How To Build An Accessible Mobile Website</a></div>
            <span class="byline news">News - 5 mins ago</span>
        </div>
        <div class="article">
        	<div class="h3"><a href="event.html?rand=112">U2 360 Concert Cape Town</a></div>
            <span class="byline event">18 Feb 2011, Green Point</span>
        </div>
        <div class="article last">
        	<div class="h3"><a href="article.html?rand=113">The Bright (Near) Future of CSS</a></div>
            <span class="byline comp">News - About an hour ago</span>
        </div>
        
        <div class="h2">New Pics</div>
        	<div class="carousel">
            
            	<div class="carousel-img"><a href="pic.html?rand=111"><img src="media/pics/thumb1.jpg" width="50" height="50" alt="Title Here" /></a>1k+<br />Likes</div>
                <div class="carousel-img"><a href="pic.html?rand=112"><img src="media/pics/thumb2.jpg" width="50" height="50" alt="Title Here" /></a>100<br />Likes</div>
                <div class="carousel-img"><a href="pic.html?rand=113"><img src="media/pics/thumb3.jpg" width="50" height="50" alt="Title Here" /></a>999<br />Likes</div>
                <div class="carousel-img"><a href="pic.html?rand=114"><img src="media/pics/thumb4.jpg" width="50" height="50" alt="Title Here" /></a>1k+<br />Likes</div>
            
            	<div class="clear"></div>
                
            </div>
        
        <div class="h2">New Videos</div>
        <div class="img-article">
        	<img src="media/pics/thumb2.jpg" width="50" height="50" alt="Title Here" class="left" />
        	<div class="h3"><a href="vid.html?rand=111">Build An Accessible Mobile Website</a></div>
            <span class="byline">15:35 - 23 Likes</span>
        </div>
        <div class="img-article last">
        	<img src="media/pics/thumb3.jpg" width="50" height="50" alt="Title Here" class="left" />
        	<div class="h3"><a href="vid.html?rand=112">Minimum Viable Product: A Guide</a></div>
            <span class="byline">04:31 - 87 Likes</span>
        </div>
        
    </div>
    
    <a name="menu-dl" id="menu-dl"></a>
    <div id="browse">
    	<div class="h2 nomargin dark">Browse</div>
        <span><a href="index.html">Home</a></span><span><a href="news.html">News</a></span><span><a href="events.html">Events</a></span><span><a href="galleries.html">Pics+Vids</a></span><span><a href="downloads.html">Downloads</a></span><span><a href="win.html">Win</a></span>
        <a name="searchdl" id="searchdl"></a>
        <div id="search" class="last">
			<form name="search-form" action="search-results.html" method="get"><fieldset><input type="text" name="search" class="txt" /><input type="submit" name="search-btn" value="Search" /></fieldset></form>
		</div>
    </div>
    
    <div id="footer">
    	<span><a href="about.html">About Us</a></span> - <span><a href="contact.html">Contact Us</a></span> - <span><a href="terms.html">Terms</a></span><br />&copy; Praekelt Digital 2011 - <a href="http://prototypes.praekelt.co.za/panya/mobile-web/advanced/">Touch Site</a> - <a href="http://www.facebook.com">Facebook</a> - <a href="http://www.twitter.com">Twitter</a></span>
    </div>

</body>
</html>
