{% load generic_inclusion_tags i18n %}

<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="description" content="Jmbo" />
    <meta property="og:title" content="Jmbo" />
    <meta property="og:description" content="Jmbo is a mobile-focused content delivery platform for the delivery of dynamic experiences to audiences in emerging markets." />
    <meta property="og:image" content="{{ STATIC_URL }}basic/pics/og_jmbo_logo.png" />
    <title>Jmbo</title>
    <link href="{{ STATIC_URL }}basic/css/jmbo.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}basic/pics/favicon.ico" />
    {% block extra-head %}
    {% endblock %}
</head>

<body>
    {% block header %}
    	<div id="header">
            <img src="{{ STATIC_URL }}basic/pics/logo.jpg" alt="Jmbo" />
            <div id="signin-button">
              {% if request.user.is_authenticated %}
                <span><a href="{% url logout %}">Sign Out</a></span>
              {% endif %}
              {% if request.user.is_anonymous %}
                  <span><a href="{% url login %}">Sign In</a></span>
                  <span><a href="{% url join %}">Join</a></span>
              {% endif %}
          	</div>
        </div>
    {% endblock %}

    {% block navbar %}
        {% navbar %}
    {% endblock %}

    {% block message %}
        <!--<div class="success">This is a success message</div>
        <div class="warning">This is a warning message</div>-->
    {% endblock %}
   
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    
    {% block menu %}
        {% menu %}
    {% endblock %}

    
    {% block search %}
        <a name="searchdl" id="searchdl"></a>
        <div id="search" class="last">
	        <form name="search-form" action="search-results.html" method="get"><fieldset><input type="text" name="search" class="txt" /><input type="submit" name="search-btn" value="Search" /></fieldset></form>
        </div>
    {% endblock %}
    
    {% block footer %}
        <div id="footer">
        	<span><a href="about.html">About Us</a></span> - <span><a href="contact.html">Contact Us</a></span> - <span><a href="terms.html">Terms</a></span><br />&copy; Praekelt Digital 2011 - <a href="http://prototypes.praekelt.co.za/panya/mobile-web/advanced/">Touch Site</a> - <a href="http://www.facebook.com">Facebook</a> - <a href="http://www.twitter.com">Twitter</a></span>
        </div>
    {% endblock %}
</body>
</html>
