{% extends "base.html" %}

{% block content %}

    <div class="h2">Sign Up - Set your profile picture</div>
            
    <form action="{% url join-finish %}" method="POST" enctype="multipart/form-data" class="content-form">   
        {% csrf_token %}
        <fieldset>
            <ul class="form-ul">
                {{ form.as_ul }}
                <li>
                    <label for="pic-choose"><p>Or, choose from our selection:</p></label>
                    {% for object in form.default_avatars %}
                        <input type="radio" name="default_avatar_id" value="{{ object.id }}" />
                        <img src="{{ object.image.url }}" width="32" height="32" class="pic-choose" />
                    {% endfor %}
                </li>
            </ul>
            <input type="submit" value="Finish" />
        </fieldset>
    </form>

{% endblock content %}
