{% extends "base.html" %}
{% load i18n %}

{% block content %}
	<div class="content user-detail">
	    <div class="title">Reply to: {{ original_message.from_member }}</div>
	    <div class="meta">
           <div class="friend">
               <a href="{% url inbox %}">{% trans "Back to Inbox" %}{% if unread_messages %} ({{ unread_messages }}){% endif %}</a>
           </div>
           <div class="friend">
               <a href="{% url message-view original_message.id %}">{% trans "Back to Original Message" %}</a>
           </div>
	    </div>
    
	    {% with form_name='frmDirectMessage' submit='Send' %}
            {% include "foundry/includes/form.html" %}
        {% endwith %}
	</div>  
{% endblock %}