{% extends "base.html" %}
{% load foundry_inclusion_tags %}

{% block content %}

{% for row in object.rows %}
    <table class="foundry-page-row">
        <tr>
        {% for column in row.columns %}
            <td class="foundry-page-column foundry-page-column-{{ column.width }}">
                {% for tile in column.tiles %}
                    {% if tile.view_name %}
                        <div class="foundry-page-tile {{ tile.class_name }} {% if tile.enable_ajax %}foundry-enable-ajax{% endif %}"
                             original_url="{% view_url tile.view_name %}">
                            {% render_view tile.view_name %}
                        </div>
                    {% endif %}
                {% endfor %}                
            </td>
        {% endfor %}
        </tr>
    </table>
{% endfor %}

{% endblock content %}
