form { margin: 0; padding: 0 }
form.content-form { background-color: #f9f9f9; border: 1px solid #e5e5e5; padding: 5px; margin: 0.5em 0 }
form.content-form span { display: block }
label { display: block }
input.txt-b,input.btn { display: block }
input.btn { margin: 6px 0 0 0 }
fieldset{ margin: 0; padding: 0; border: none; background: none }
textarea { width: 90% }


ul.form-ul {
    margin-top: 0;
}

ul.form-ul li {
    margin-bottom: 6px;
    margin-left: -40px;
    list-style: none;
}

ul.form-ul ul.errorlist {
    margin-left: -3.1em;
}    

ul.form-ul ul.errorlist li {
    margin: 0;
    color: red;
}

ul.form-ul label {
    display: block;
    margin-bottom: 2px;
}    

ul.form-ul .helptext {
    display: block;
    margin-bottom: 2px;
    color: #7e7e7e;
}    

li.required label {
    background-image: url('/static/basic/images/red-asterisk.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 16px;
}    
