
/* Reset Elements */
img, a img { 
    border: none; 
    display: block 
}
input, select, textarea { 
    outline: none 
}

/* Main */
body { 
    font-size: small; 
    font-family: Arial,Helvetica,sans-serif; 
    margin: 0; 
    background-color: #fff 
}

/* Typography */
a:link { color: #09F; text-decoration: none }
a:visited { color: #09F; text-decoration: none }
a:hover { color: #36f ; text-decoration: none }
a:active { color: #09F; text-decoration: none }

/* Attempt to style the various page headings */
div.h2, 
div#content > div.title, 
div.content > div.title, 
div.view-modifier > div.title, 
div.object-header > div.title, 
div#content > h1,
div.content > h1,
div#content > div.title,
div.content > div.title,
div.member-notifications > div.title,
div.search-results > div.title,
div.page > div.title { 
    background-color: #f1f1f1; 
    padding: 3px; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 3px; 
    clear: both;
}

p { 
    margin: 1em 0; 
    line-height: 1.2em;
}

/* Clearer */
.clear { 
    height: 1px; 
    clear: both; 
    font-size: 1px; 
}

/* Header */
#header { 
    background-color: #000; 
    padding: 0 0 5px 0; 
    height: 21px; 
}
#header a { 
    color: #fff;
}
#header img { 
    margin: 0 0 0 3px; 
    float: left;
}
#header .buttons { 
    float: right; 
    background-color: #444; 
    padding: 2px;
}


/* Footer */
#footer { 
    clear: both; 
    border-top: 1px solid #ddd; 
    padding: 3px 3px 6px 3px; 
}

/* Search */
div#search form { 
    margin: 3px 0;
    border: 0;
}

/* Container class for navbar, menu, listing */
.foundry-container > div.title { 
    background-color: #f1f1f1; 
    padding: 3px; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 3px; 
    clear: both; 
 }

/* Column title */
.foundry-page-column > div.title { 
    background-color: #f1f1f1; 
    padding: 3px; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 3px; 
    clear: both; 
}

/* Navbar */
.foundry-navbar { 
    background-color: #000; 
    color: #555; 
    padding: 3px 3px 5px 3px; 
    clear: both;
}
.foundry-navbar a { 
    color: #fff ;
}
.foundry-navbar div.item { 
    display: inline;
    padding: 0 2px ;
    border-right: solid 1px #cccccc;
}
.foundry-navbar div.active { 
    background-color: #fff;
}
.foundry-navbar div.active a { 
    color: #323232 ;
}
.foundry-navbar div.last {
    border-right: none;
}

/* Menu */
.foundry-menu { 
    clear: both; 
    padding: 0px; 
}
.foundry-menu div.title { 
    margin: 0 !important;
    background-color: #333; 
    color: #fff; 
    border-bottom: 1px solid #000;
}
.foundry-menu div.item { 
    padding: 0.5em 0; 
    border-bottom: 1px solid #ddd; 
    background-color: #f9f9f9; 
    padding-left: 3px;
}

/* Structure - Content */
#content {
    margin: 4px;
}

/* Page detail may not have any margin. Undo the above for them. Due to */
/* Django's use of blocks there is no better solution. */
#page-content {
    margin: -4px;
}

/* Listing promo */
.foundry-listing-promo img { 
    width: 100%;
}
.foundry-listing-promo div.item div.link { 
    background-color: #333; 
    color: #fff; 
    padding: 6px 4px; 
    margin-bottom: 3px; 
    border-bottom: 1px solid #000; 
    font-size: small;
}
.foundry-listing-promo div.link a { 
    color: #fff;
}

/* Listing horizontal */
.foundry-listing-horizontal { 
    margin: 0 0 3px 0;
}
.foundry-listing-horizontal div.item { 
    width: 56px; 
    text-align: center; 
    float: left; 
    background-color: #e5e5e5; 
    font-size: smaller; 
    color: #000; 
    padding-bottom: 3px; 
    margin: 0 3px 3px 0;
}
.foundry-listing-horizontal div.item img { 
    margin: 3px 0 3px 3px;
}

/* Listing vertical */
.foundry-listing-vertical div.item { 
    border-bottom: 1px solid #e9e9e9; 
    clear: left; 
    padding: 0.5em 0;
}

/* Listing vertical thumbnail */
.foundry-listing-vertical-thumbnail div.item { 
    border-bottom: 1px solid #e9e9e9; 
    clear: left; 
    padding: 0.5em 0;
    min-height: 50px; 
}

/* Category list */
.foundry-category-list div.pinned-items div.item {
    border-bottom: 1px solid #e9e9e9; 
    clear: left; 
    padding: 0.5em 0;
    min-height: 50px;
    background-color: #f1f1f1; 
    padding: 0.5em 3px;
}
.foundry-category-list > div.title { 
    background-color: #f1f1f1; 
    padding: 3px; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 3px; 
    clear: both; 
}

/* Category detail */
.foundry-category-detail > div.title { 
    background-color: #f1f1f1; 
    padding: 3px; 
    border-bottom: 1px solid #ddd; 
    margin-bottom: 3px; 
    clear: both; 
}
.foundry-category-detail > div.intro {
    border-bottom: 1px solid #e9e9e9; 
    clear: left; 
    padding: 0.5em 0;
    min-height: 50px;
    background-color: #f1f1f1; 
    padding: 0.5em 3px;
    border: none;
}
.foundry-category-detail div.intro > div.object-header > div.title {
    background-color: transparent; 
    padding: 0; 
    border: 0; 
    margin: 0; 
    clear: none;
}

/* Poll */
table.poll-results td.bar {
    width: 150px;
}
table.poll-results tr.poll-result-1 td.bar > div {
    background-color: #D9CEB2;
}    
table.poll-results tr.poll-result-2 td.bar > div {
    background-color: #948C75;
}    
table.poll-results tr.poll-result-3 td.bar > div {
    background-color: #D5DED9;
}    
table.poll-results tr.poll-result-4 td.bar > div {
    background-color: #7A6A53;
}    
table.poll-results tr.poll-result-5 td.bar > div {
    background-color: #99B2B7;
}    
table.poll-results tr.poll-result-6 td.bar > div {
    background-color: #BED6C7;
}    

/* Additional styles that can be applied to tiles */
/* Softcoded tile-based header */
div.header-logo {
    float: left;
    background-color: #000; 
    width: 40%;
    height: 26px;
}

.header-links  {
    float: right;
    background-color: #000; 
    width: 60%;
    height: 26px;
}
.header-links div.items {
    padding: 1px 2px 1px 3px; 
    float: right;
}

/* todo: Fix these below */
.meta { font-size: smaller; display:block; color:#666 }
.byline:first-letter { text-transform: capitalize; }
img.left { float: left; margin-right: 5px }
