div.social-buttons a {
    cursor: pointer;
    font: -webkit-small-control;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    box-shadow: none;
    font-weight: bold;
    line-height: 45px;
    border-radius: 2px;
    border: none;
    height: 45px;
    width: auto;
    white-space: nowrap;
    font-size: 0.9em;
    display: inline-block;
    margin: 1em;
    padding-right: 8px
}
div.social-buttons a.facebook {
    background-color: #536A97;
    background: -webkit-linear-gradient(top, #536A97, #3D5382);
    background: -moz-linear-gradient(top, #536A97, #3D5382);
    background: -o-linear-gradient(top, #536A97, #3D5382);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#536a97',endColorstr='#4f77a7');
    background-image: -ms-linear-gradient(#536A97, #3D5382);
    color: #fff;
    
}
div.social-buttons a span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
div.social-buttons a.facebook span {
    background: url(../images/facebook-connect-button.png) 0 10px no-repeat;
    width: 36px;
    height: 45px;
}
