include AUTHORS.rst
include CHANGELOG.rst
include LICENSE
include README.rst
recursive-include foundry/fixtures *
recursive-include foundry/locale *
recursive-include foundry/management *
recursive-include foundry/migrations *
recursive-include foundry/static *
recursive-include foundry/templates *
recursive-include foundry/templatetags *
