{% load foundry_tags %}

{% menu 'main' %}

<div id="search">
    <form name="search-form" action="search-results.html" method="get" class="foundry-form-inline"><input type="text" name="search" class="txt" /><input type="submit" name="search-btn" value="Search" /></form>
</div>

<div id="footer">
	<span><a href="{% url about-us %}">About Us</a></span> - <span><a href="{% url site_contact %}">Contact Us</a></span> - <span><a href="{% url terms-and-conditions %}">Terms</a></span><br />&copy; Praekelt Digital 2011 - <a href="http://prototypes.praekelt.co.za/panya/mobile-web/advanced/">Touch Site</a> - <a href="http://www.facebook.com">Facebook</a> - <a href="http://www.twitter.com">Twitter</a></span>
</div>
