{% load jmbo_template_tags jmbo_inclusion_tags foundry_inclusion_tags %}

{% if object_list.exists %}
    <div class="foundry-container foundry-listing-vertical-thumbnail">
    <div class="title">{{ listing.title }}</div>
    <div class="items">
    {% for object in object_list %}
        <div class="item {% if forloop.first %}first{% endif %}{% if forloop.last %}last{% endif %}">

            <img src="{{ object.get_listing_vertical_thumbnail_basic_url }}" alt="{{ object.title }}" class="left" />

            <div class="h3">
                {% if object.categories.all.count %}<span class="category">{{ object.categories.all|join_titles }}:</span>{% endif %}
                <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
            </div>
            {% if listing.display_likes %}
                <div class="likes">15:35 - 23 Likes</div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    </div>
{% endif %}
