{% load jmbo_template_tags foundry_tags i18n %}

<div class="title">
    {% if object.categories.all.count %}<span class="category">{{ object.categories.all|join_titles }}:</span>{% endif %}
    <a href="{% smart_url url_callable object %}">{{ object.title }}</a>
</div>
<div class="byline">
    {% humanize_time_diff object.created 'ago' 'lower' %}   
    {% if object.comments_enabled %}
        {% with object.comment_count as total %}
            ({{ total }} {% blocktrans %}comment{% endblocktrans %}{{ total|pluralize }})
        {% endwith %}
    {% endif %}
</div>
