{% load jmbo_template_tags foundry_tags %}

{% comment %}
Layout similar to a classic iPod.
{% endcomment %}

<div class="image">
    <a href="{{ object.get_absolute_url }}">
        <img src="{{ object.get_modelbase_list_item_ipod_pinned_url }}" alt="{{ object.title }}" />
    </a>
</div>

<div class="title">
    {% if object.categories.all.count %}<span class="category">{{ object.categories.all|join_titles }}:</span>{% endif %}
    <a href="{{ object.get_absolute_url }}">{{ object.title }}</a>
</div>

{% include "includes/list_meta.html" %}
