{% comment %}
todo: This template must be backported to jmbo itself.
{% endcomment %}

{% load likes_inclusion_tags i18n %}

<div class="object-header">    
    <div class="title">
	    {{ object.title }}
    </div>

	<div class="meta">

        {% if object.comments_enabled %}
        <div class="comments">
            {% with object.comment_count as total %}
                ({{ total }} {% if total == 1 %}{% trans "comment" %}{% else %}{% trans "comments" %}{% endif %})
            {% endwith %}
        </div>
        {% endif %}

        {% if object.likes_enabled %}
        <div class="likes">
            {% likes object %}
        </div>
        {% endif %}

        <div class="sharing">
            <div class="facebook">
                <a href="http://www.facebook.com/sharer.php?u=http{% if request.is_secure %}s{%endif %}://{{ request.META.HTTP_HOST }}{{ object.get_absolute_url|iriencode }}&t={{ object.title|iriencode }}"
                   target="blank">
                   <img src="{{ STATIC_URL }}images/facebook_share.png" alt="{% trans "Share via Facebook" %}" />
                </a>
            </div>
            <div class="twitter">
                <a href="http://www.twitter.com/share?url=http{% if request.is_secure %}s{%endif %}://{{ request.META.HTTP_HOST }}{{ object.get_absolute_url|iriencode }}"
                   target="blank">
                   <img src="{{ STATIC_URL }}images/twitter_share.png" alt="{% trans "Share via Twitter" %}" />
                </a>
            </div>
        </div>

    </div>

</div>
