{% load i18n %}
<form name="{{ form_name }}" id="{{ form_name }}" class="foundry-form" method="post" action="." enctype="multipart/form-data">{% csrf_token %}
	{% if legend %}<legend>{{ legend }}</legend>{% endif %}
	    {% if form.success %}
	        <div class="message">{{ form.success_message }}</div>
	    {% endif %}
	    {% if form.non_field_errors %}
	        <div class="message">{{ form.non_field_errors|first }}</div>
	    {% endif %}
	    {% for field in form %}
	        {% if field.is_hidden %}
	            {{ field }}
	        {% else %}
	         <div class="field {% if field.errors %}error{% endif %}">
	             {% if field.label == 'Avatar' %}
	                 <div class="required">
	                     <label for="{{ field.name }}">{{ field.label }}</label>
	                     {% if form.object.image %}
	                         <img src="{{ form.object.get_avatar_url }}" width="40" height="40" alt="{{ form.object }}" />
	                     {% endif %}
	                     {{ field }}
	                     {% if field.errors %}
	                         <div class="help-inline">{{ field.errors|first }}</div>
	                     {% endif %}
	                     {% if field.help_text %}
	                         <div class="helptext">{{ field.help_text }}</div>
	                     {% endif %}
	                 </div>
	             {% else %}
	                 <div class="required">
	                     <label for="{{ field.name }}">{{ field.label }}</label>
	                     {{ field }}
	                     {% if field.errors %}
	                         <div class="help-inline">{{ field.errors|first }}</div>
	                     {% endif %}
	                     {% if field.help_text %}
	                         <div class="helptext">{{ field.help_text }}</div>
	                     {% endif %}
	                 </div>
	             {% endif %}
	         </div>
	        {% endif %}
	    {% endfor %}
	<div class="buttons">
	    <input type="submit" value="{% blocktrans %}Submit{% endblocktrans %}">
	    <input type="reset" value="{% blocktrans %}Reset{% endblocktrans %}">
	</div>
</form>