{% load pagination_tags jmbo_template_tags foundry_tags %}

{% if FOUNDRY.has_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $('a.comment-reply').live('click', function(event){
        event.preventDefault();
        // Update hidden input, focus comment form
        var form = $(this).parents('div.object-comments:first form');
        $('input[name="in_reply_to"]', form).val($(this).attr('comment_id'));
        var area = $('textarea', form);       
        var creator = $(this).attr('creator');
        if (creator)
            area.val('@' + creator + ': ');
        else
            area.val('');
        area.focus();
    });
});
</script>
{% endif %}

<!--Auto Update: {% if request.GET.comment_auto_update %}On{% else %}Turn Off{% endif %}-->

<div class="foundry-comments-messages-navbar">
    <div class="items">
        <div class="item first {% if not request.GET.my_messages %}active{% endif %}">
            <a href=".">All Messages</a>
        </div>
        <div class="item last {% if request.GET.my_messages %}active{% endif %}">
            <a href="?my_messages=1">My Messages</a>
        </div>
    </div>
</div>

{% with request.GET.paginate_by|default:20|add:0 as paginate_by %}

    <div class="foundry-comments-pages-navbar">
        <div class="items">
            <div class="item first">Show</div>
            {% with '20 30 50'|as_list:'int' as li %}
                {% for n in li %}
                    <div class="item {% if paginate_by == n %}active{% endif %} {% if forloop.last %}last{% endif %}">
                        <a href="?paginate_by={{ n }}{% if request.GET.my_messages %}&my_messages=1{% endif %}">{{ n }}</a>
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
    </div>

    <div class="foundry-container foundry-comments-list">
    
        {% autopaginate comment_list paginate_by %}
        <div class="items">
        {% for comment in comment_list %}
            <div id="c{{ comment.id }}" class="item">
                <div class="byline">
                    {% humanize_time_diff comment.submit_date 'ago' %}
                    <!-- todo: Need can comment test -->
                    <a href="{% url comment-reply-form %}?content_type_id={{ comment.content_type_id }}&oid={{ comment.object_pk }}&path_info={{ request.META.PATH_INFO }}&my_messages={{ request.GET.my_messages }}&paginate_by={{ request.GET.paginate_by }}" 
                       class="comment-reply" 
                       comment_id="{{ comment.id }}" 
                       creator="{{ comment.creator.username }}">Reply
                    </a>
                </div>
                <div class="creator">
                    {% if comment.creator %}
                        <img src="{{ comment.creator.get_thumbnail_basic_url }}" />
                    {% else %}
                        <img src="{{ STATIC_URL }}/basic/images/anonymous.png" />
                    {% endif %}
                    {{ comment.user.username|default:comment.name }}:
                </div>
                <div class="comment">
                    {{ comment.comment }}
                </div>
            </div>
        {% endfor %}
        </div>

        {% paginate %}

    </div>

{% endwith %}
