{% load pagination_tags foundry_inclusion_tags %}

<script type="text/javascript">
$(document).ready(function(){
    $('a.comment-reply').live('click', function(event){
        event.preventDefault();
        // Update hidden input, focus comment form
        var form = $(this).parents('div.object-comments:first form');
        $('input[name="in_reply_to"]', form).val($(this).attr('comment_id'));
        var area = $('textarea', form);        
        //area.val('@:');
        area.focus();
    });
});
</script>

Auto Update: {% if request.GET.comment_auto_update %}On{% else %}Turn Off{% endif %}

{% if request.GET.my_messages %}
    <a href=".">All Messages</a>
    My Messages
{% else %}
    All Messages
    <a href="?my_messages=1">My Messages</a>
{% endif %}

{% with request.GET.paginate_by|default:2|add:0 as paginate_by %}

    Show
    {% with '2 3 4'|as_list:'int' as li %}
        {% for n in li %}
            {% if paginate_by == n %}
                {{ n }}
            {% else %}
                <a href="?paginate_by={{ n }}{% if request.GET.my_messages %}&my_messages=1{% endif %}">{{ n }}</a>
            {% endif %}
        {% endfor %}
    {% endwith %}

    <dl class="foundry-comment-list">
    
        {% autopaginate comment_list paginate_by %}
        {% for comment in comment_list %}
            <dt id="c{{ comment.id }}">
                {{ comment.submit_date }} - {{ comment.name }}
            </dt>
            <dd>
                <p>{{ comment.comment }}</p>
                <!-- todo: Need can comment test -->
                <a href="#" class="comment-reply" comment_id="{{ comment.id }}">Reply</a>
            </dd>
        {% endfor %}
        {% paginate %}

    </dl>

{% endwith %}
