{% load foundry_inclusion_tags i18n %}

<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="description" content="Jmbo" />
    <meta property="og:title" content="Jmbo" />
    <meta property="og:description" content="Jmbo is a mobile-focused content delivery platform for the delivery of dynamic experiences to audiences in emerging markets." />
    <meta property="og:image" content="{{ STATIC_URL }}basic/images/logo.jpg" />
    <title>Jmbo</title>
    <link href="{{ STATIC_URL }}basic/css/main.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}basic/css/tile.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}basic/css/forms.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}basic/images/favicon.ico" />
    <script type="text/javascript" src="{{ STATIC_URL }}admin/thirdparty/jquery-1.6.2.min.js"></script>
    <script src="{{ STATIC_URL }}basic/js/foundry.js" type="text/javascript"></script>
    {% block extra-head %}
    {% endblock %}
</head>

<body>
    {% block header %}
    	<div id="header">
            <a href="/"><img src="{{ STATIC_URL }}basic/images/logo.jpg" alt="Jmbo" /></a>
            <div class="buttons">
              {% if request.user.is_authenticated %}
                <span><a href="{% url logout %}">Sign Out</a></span>
              {% endif %}
              {% if request.user.is_anonymous %}
                  <span><a href="{% url login %}">Sign In</a></span>
                  <span><a href="{% url join %}">Join</a></span>
              {% endif %}
          	</div>
        </div>
    {% endblock %}

    {% block navbar %}
        {% navbar 1 %}
    {% endblock %}

    {% block message %}
        <!--<div class="success">This is a success message</div>
        <div class="warning">This is a warning message</div>-->
    {% endblock %}
   
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block menu %}
        {% menu 1 %}
    {% endblock %}
   
    {% block search %}
        <div id="search">
	        <form name="search-form" action="search-results.html" method="get" class="foundry-form-inline"><input type="text" name="search" class="txt" /><input type="submit" name="search-btn" value="Search" /></form>
        </div>
    {% endblock %}
    
    {% block footer %}
        <div id="footer">
        	<span><a href="{% url about-us %}">About Us</a></span> - <span><a href="{% url site_contact %}">Contact Us</a></span> - <span><a href="{% url terms-and-conditions %}">Terms</a></span><br />&copy; Praekelt Digital 2011 - <a href="http://prototypes.praekelt.co.za/panya/mobile-web/advanced/">Touch Site</a> - <a href="http://www.facebook.com">Facebook</a> - <a href="http://www.twitter.com">Twitter</a></span>
        </div>
    {% endblock %}
</body>
</html>
