{% extends "admin/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        #sortable { 
            list-style-type: none; 
            margin: 0; 
            padding: 0; 
            width: 960px; 
            height: 120px;
            background-image: url(/static/admin/images/tile.png);
            border: none;
        }
        #sortable li { 
            list-style-type: none; 
            margin: 0; 
            padding: 0px; 
            float: left; 
            width: 60px; 
            height: 118px; 
            cursor: move;
            border-collapse: collapse;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#sortable').sortable({
                placeholder: 'ui-state-highlight',
                forcePlaceholderSize: false,
                opacity: 0.5,
            }).disableSelection();

            // New tile
            $('#new-tile').click(function(event){
                event.preventDefault();
                
                // Create new tile. We need the id.
                $.ajax({
                    url:'{% url admin-tile-create-ajax adminform.form.instance.id %}',
                    data:{},
                    async:false,
                    dataType:'json',
                    success: function(obj){
                        var el = $('#new-tile-template').clone(true);
                        el.attr('id', 'tile-'+obj.id);
                        el.attr('tile_id', obj.id);
                        el.show();
                        // todo: height setting is a bit brutal. Refine.
                        // We can get include size in json - easier to compute server side.
                        var sortable = $('#sortable');
                        sortable.css('height', sortable.height()+120+'px');
                        sortable.append(el);                
                    },
                    error: function(){
                        alert('An error occurred. Please try again');
                    }
                });
            });

            // Launch edit dialog 
            {% if adminform.form.instance.id %}    
            $('a.tile-edit-launcher').click(function(event){
                event.preventDefault();
                var popup = $('#tile-edit-dialog');
                var li = $(this).parent();
                $.ajax({
                    url:'{% url admin-tile-edit-ajax adminform.form.instance.id %}',
                    data:{tile_id:li.attr('tile_id'), column:li.index()},
                    async: false,
                    success: function(data){
                        popup.html(data);
                    } 
                });
                popup.dialog({title:'Edit tile', modal:true, resizable:false, width:640});
            });
            {% endif %}

            // Delete tile
            $('a.tile-delete').click(function(event){
                event.preventDefault();
                if (window.confirm('Delete this tile?'))
                {
                    var tile_id = $(this).parent().attr('tile_id');
                    $(this).parent().remove();
                    if (tile_id)
                        $.get('{% url admin-tile-delete-ajax %}', {tile_id:tile_id});
                }
            });

            // Intercept form submit
            $('form#tile-edit-form').live('submit', function(event){
                event.preventDefault();
                var form = $(this);
                var url = $(this).attr('action');
                var data = $(this).serialize();
                $.ajax({
                    url: url,
                    data: data,
                    async: false,
                    type: 'POST',
                    cache: false,                    
                    success: function(data){
                        if (data.indexOf('{') == 0)
                        {
                            var obj = $.parseJSON(data);
                            // Update tile dom element and close dialog
                            var tile = $('#tile-' + obj.id);
                            $('label:first', tile).html(obj.view_name);
                            tile.css('width', (obj.width*60-2) + 'px');
                            $('#tile-edit-dialog').dialog('close');
                        }
                        else
                            form.replaceWith(data);
                    }
                });
            });

        });
    </script>
{% endblock %}

{% block after_related_objects %}
{% if adminform.form.instance.id %}    
    <li id="new-tile-template" class="ui-state-default" style="display: none;" tile_id="">
        <label>Untitled tile</label></br>
        &middot;<a href="#" class="tile-edit-launcher">Edit</a></br>
        &middot;<a href="#" class="tile-delete">Delete</a></br>
    </li>

    <div id="tile-edit-dialog"></div>

    <h2>Tiles</h2>
    <p class="help">
        Organize the tiles into columns, like a page in a newspaper. You can
        drag a tile around and adjust its width. Any change you make here is 
        immediately saved to the database.
    </p>
    <a href="#" id="new-tile">New tile</a>
    <ul id="sortable" style="height: {{ adminform.form.instance.height }}px;">
        {% for tile in adminform.form.instance.tiles %}
            <li class="ui-state-default" id="tile-{{ tile.id }}" tile_id="{{ tile.id }}" style="width: {{ tile.width_in_pixels }}px;">
                <label>{{ tile.view_name|default:'Untitled tile' }}</label></br>
                &middot;<a href="#" class="tile-edit-launcher">Edit</a></br>
                &middot;<a href="#" class="tile-delete">Delete</a></br>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
