<style type="text/css">
    #tile-edit-form input[type="text"] {
        width: 250px;
    }
</style>

<form id="tile-edit-form" action="{% url "admin-tile-edit-ajax" %}" method="POST">
    <p>You must set either <i>Target</i> or <i>View name</i>.</p>
    {% csrf_token %}
    <input type="hidden" name="tile_id" value="{{ form.instance.id|default_if_none:'' }}" />
    <fieldset class="module aligned">
        <table style="width: 100%;">
            {{ form.as_table }}
        </table>
    </fieldset>
    <div class="submit-row">
        <input type="submit" class="default" value="Save" />
    </div>
</form>
