{% extends 'base.html' %}
{% load jmbo_template_tags jmbo_inclusion_tags %}

{% block content %}
    <div class="foundry-category-detail">
        <div class="category-title">{{ category.title }} Updates</div>
       
        <div class="item">
           <div class="intro">
                <img src="{{ object.get_thumbnail_basic_url }}" alt="{{ object.title }}" class="left" />
                <div class="byline">{% humanize_time_diff object.created 'ago' 'lower' %}</div>
                <div class="title">{{ object.title }}</div>
            </div>
       
            <div class="content">
                {{ object.content|safe }}
            </div>
        </div>

        <div class="more"><a href="{% url category_object_list category.slug %}">More {{ category.title }} Updates</a></div>    

        {% object_comments object %}

    </div>
{% endblock %}
